.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
    }
    @media screen and (max-width: 200px){
        img {
            width: 100%;
        }
    }
    .loading-logo {
        width: 40px;
    }
}



.list-videos-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.input-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

